<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <header class="span-all">
      <h1>My Website</h1>
    </header>
    <nav class="fixed-sidebar">
      <h1>Navigation</h1>
      <menu>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li><a href="#">Link 4</a></li>
        <li><a href="#">Link 5</a></li>
      </menu>
    </nav>
    <main>
      <article>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum sed
          aliquid, facere cumque dicta odio, velit illo quod, atque totam
          similique quaerat esse officia nisi! Et sequi non perspiciatis
          delectus!
        </p>
        <p>
          Minima earum obcaecati, nesciunt quae eius velit soluta assumenda rem
          consequatur error iusto commodi, cupiditate exercitationem nam illo
          fugiat sint aut tenetur incidunt? Impedit vel libero, totam voluptate
          optio quam.
        </p>
        <p>
          Eaque odio doloribus esse nobis animi unde, deserunt perspiciatis quam
          magnam corrupti rem tempore. Quis ipsum rem cumque quia quaerat
          tempore doloribus ad nostrum, culpa doloremque nulla fugit, tempora
          reiciendis.
        </p>
        <p>
          Possimus temporibus consequatur unde eum fugiat pariatur inventore
          aliquam repellat architecto, non impedit assumenda laboriosam eos,
          quisquam, hic a corrupti laudantium iste recusandae deleniti adipisci
          nam! Ut molestiae eligendi quis?
        </p>
        <p>
          Eligendi rem, quaerat cupiditate culpa eum excepturi tempora,
          consequatur earum explicabo suscipit laboriosam amet at reprehenderit
          illo officiis ea nam quos ex impedit enim repellat quo! Eos libero aut
          aliqum.
        </p>
        <p>
          Omnis dicta ipsam natus nam explicabo eos! Omnis provident deserunt
          vitae nobis, sed numquam quod libero! Autem dolor fuga quasi quae
          commodi tempora officiis voluptas saepe dolorum ab, adipisci ex.
        </p>
        <p>
          Provident ipsum, molestiae officia ipsam iste praesentium recusandae
          doloribus tempore eum omnis dolorem fugiat consequatur delectus
          expedita quisquam quia ullam velit quo cum excepturi aperiam. Possimus
          rem consequuntur repellendus ea?
        </p>
      </article>
    </main>
    <aside class="fixed-sidebar">
      <h1>Sidebar</h1>
    </aside>
    <footer class="span-all">Copyright 2023, &copy; Paul Negoescu</footer>
  </body>
</html>
