header {
  background-color: orange;
}

nav {
  background-color: tan;
}

main {
  background-color: lightgoldenrodyellow;
}

aside {
  background-color: darkgoldenrod;
}

footer {
  background-color: brown;
}

:root {
  font-size: 10px;
}

html,
body {
  min-height: 100vh;
}

body {
  display: grid;
  grid-template-columns: 13rem 1fr 13rem;
  grid-template-rows: 8rem 1fr 8rem;
  gap: 1rem;
  margin: 0;
}

.span-all {
  grid-column: 1 / -1;
}

header,
nav,
aside,
footer,
main {
  display: flow-root;
}
